@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {

    background-image: url('img/fondo.jpg');

    background-size: cover;
    background-position: center;
}



img {
    width: 800px;
    /* Ancho fijo */
    height: 500px;
    /* Altura automática (mantiene la proporción original) */
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    width: 100%;
    height: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 33px;

    display: block;

    background-color: rgba(247, 245, 242, 0.2);
    color: white;

}

ul li:hover {
    background-color: rgba(231, 128, 23, 0.5);

}

.header ul {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    /*este  y el de abajo para centrar y dejar espacio entre medio*/
    align-items: center;
    list-style: none;


}

.header ul li a {
    text-decoration: none;
    color: white;
}

h2 {

    /*  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    color: #EFF2F5;
    background-color: rgba(228, 205, 156, 0.562);
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
    min-width: 30%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%)
}