body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('img/perritos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 80px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(221, 113, 73);

    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
}







div {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    color: #EFF2F5;
    background-color: rgba(224, 184, 96, 0.562);
    padding-right: 15px;

    border-radius: 50px;
    min-width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%)
}