* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.form-register {
    width: 400;
    background-image: url('img/perritos.jpg');
    background-size: cover;
    /* Ajusta el tamaño de la imagen al contenedor */
    background-repeat: no-repeat;
    padding: 200px 200px;
    margin: auto;
    margin-top: 100 px;
    border-radius: 4px;
    font-family: 'calibri';
    color: red;
}

.form-register h4 {
    font-size: 30px;
    margin-bottom: 80px;
    text-align: center;
}

.controles {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #333;
    font-family: 'calibri';
    font-size: 18px;
}


.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register boton {
    width: 100%;
    background: black;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}