@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('img/perritos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    z-index: 10;
}

.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul li ul {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

ul li ul li a {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

ul li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    display: block;
    color: white;
    text-decoration: none;
}

ul li {
    width: 100%;
    height: 51px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    display: block;
    background-color: rgb(0, 0, 0, 0.4);

}

ul li a:hover {
    background-color: rgba(230, 120, 23, 0.5);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

.central {
    width: 50%;
    margin: auto;
    background-color: transparent;
    background-size: cover;
}


.slider {
    position: relative;
    width: 100%;
    height: 400px;
}


.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 3s;

}

.slider li:first-child {
    opacity: 1;

}

.slider li img {

    width: 100%;
    height: 530px;
    object-fit: cover;
    /*object-fit:contain:*/

}

.botones {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.slider li:target {
    opacity: 1;
}