@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('img/perrosencerrados231119.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    z-index: 10;
}

.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul li ul {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

ul li ul li a {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

ul li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    display: block;
    color: white;
    text-decoration: none;
}

ul li {
    width: 100%;
    height: 51px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    display: block;
    background-color: rgb(0, 0, 0, 0.4);

}

ul li a:hover {
    background-color: rgba(230, 120, 23, 0.5);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}




.slider {
    position: relative;
    width: 100%;
    height: 400px;
}


.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 3s;

}

.slider li:first-child {
    opacity: 1;

}

.slider li img {

    width: 100%;
    height: 530px;
    object-fit: cover;
    /*object-fit:contain:*/

}

.botones {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.slider li:target {
    opacity: 1;
}

.contenedor {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: white;
    margin-bottom: 20px;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
    color: rgb(202, 184, 156);

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: larger;
    color: #EFF2F5;
    background-color: rgba(0, 0, 0, 0.562);
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    min-width: 20%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

h3 {
    font-style: italic
}

.imgdon {
    position: relative;
    width: 500px;
    /* Ajusta el ancho del contenedor según tus necesidades */
    height: 300px;
    /* Ajusta la altura del contenedor según tus necesidades */
}

.imgdon img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel-container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;


}

.carousel-image {
    max-width: 100%;
    height: auto;
    display: none;
}

button {
    margin: 10px;
}